#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM stats.users',engine)
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40325 non-null  int64
 1   Reputation       40325 non-null  int64
 2   CreationDate     40325 non-null  datetime64[ns]
 3   DisplayName      40325 non-null  object
 4   LastAccessDate   40325 non-null  datetime64[ns]
 5   WebsiteUrl       8121 non-null   object
 6   Location         11691 non-null  object
 7   AboutMe          9379 non-null   object
 8   Views            40325 non-null  int64
 9   UpVotes          40325 non-null  int64
 10  DownVotes        40325 non-null  int64
 11  AccountId        40325 non-null  int64
 12  Age              8318 non-null   float64
 13  ProfileImageUrl  16479 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 5. Rename Id column to userId

In [5]:
users = users.rename(columns={'Id' : 'userId'})

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts',engine)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts = posts.rename(columns={'Id' : 'postId', 'OwnerUserId' : 'userId'})
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   postId                 91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   userId                 90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_new = users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_new = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
users_posts = pd.merge(users, posts)
users_posts.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
null_users_posts = users_posts[users_posts[users_posts.columns].isnull()==True]
null_users_posts.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,None,None
1,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,None,None
2,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,None,None
3,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,None,None
4,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaT,None,None

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
null_cols = users_posts.isnull().mean()
null_cols = null_cols[null_cols > 0].sort_values() * 100
col_eliminar = list(null_cols[null_cols >= 40].index)
users_posts_clean = users_posts.drop(col_eliminar, axis=1)
users_posts_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userId           90584 non-null  int64
 1   Reputation       90584 non-null  int64
 2   CreationDate     90584 non-null  datetime64[ns]
 3   DisplayName      90584 non-null  object
 4   LastAccessDate   90584 non-null  datetime64[ns]
 5   Views            90584 non-null  int64
 6   UpVotes          90584 non-null  int64
 7   DownVotes        90584 non-null  int64
 8   AccountId        90584 non-null  int64
 9   postId           90584 non-null  int64
 10  PostTypeId       90584 non-null  int64
 11  CreaionDate      90584 non-null  datetime64[ns]
 12  Score            90584 non-null  int64
 13  Body             90364 non-null  object
 14  LasActivityDate  90584 non-null  datetime64[ns]
 15  CommentCount     90584 non-null  int64
dtypes: datetime64[ns](4), int64(10), object(2)
memory usage: 11.7+ MB

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
users_posts_clean.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreaionDate,Score,Body,LasActivityDate,CommentCount
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,2175,7,2010-08-28 01:20:33,0,<p><strong>CrossValidated</strong> is for stat...,2013-01-10 19:43:24,0
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8576,5,2011-03-21 17:40:28,0,None,2011-03-21 17:40:28,0
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8578,5,2011-03-21 17:46:43,0,None,2011-03-21 17:46:43,0
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8981,3,2011-03-30 19:23:14,0,"<p>""Statistics"" can refer variously to the (wi...",2011-03-30 19:23:14,0
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8982,3,2011-03-30 19:23:14,0,This generic tag is only rarely suitable; use ...,2011-03-30 19:23:14,0

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.